body{
    background-color: #E7F0C3;
    
}
#quotes{
    margin-left: 15%;
}
h1 {
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    color: #5BBFBA;
    margin-left: 20%;
    text-decoration-style: wavy;

  }
  
  #quotes {
    text-align: center;
    
    font-family: 'Nanum Myeongjo', serif;
    border-collapse: collapse;
    border: 4px solid #E7F0C3;
    
  }
  
  #quotes td, #quotes th {
    font-size: 0.94em;
    max-width:max-content;
    border: 1px solid #5F6CAF;
    padding: 8px;
  }
  
  #quotes tr:nth-child(even){background-color: #E7F0C3;}
  
  #quotes tr:hover {background-color: white;}
  
  #quotes th {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10%;
    text-align: center;
    background-color: white;
    color: #5F6CAF;
  }